
#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: grey;
    height: 100%;
}

.page {
margin-right: 20%;

}


.pageTask {
 display: flex;
 flex-direction: column;
 width: 100%;
}


.select {
    background-color: rgb(221, 212, 174);
    padding: 5px;
    height: auto;
    width: auto;
    min-width: 200px;

    
}

.select1 {
    width: auto;
    background-color: rgb(221, 212, 174);
}

.tasklist {
    width: auto;
    margin-top: 10%;
    background-color:rgb(206, 201, 178);
}

.inputs {
    display: flex;
    flex-direction: column;

}
.inputsChild {
    background-color: rgb(168, 168, 168);
}


.task {
    padding: 3px;
    border: solid black 1px;
    border-radius: 2px;
    align-items: center;
    margin-top: 7%;
    width: 70%;
    display: flex;
    background-color: rgb(221, 212, 174);
    flex-direction: column;
}

.tasks{
    background-color:rgb(206, 201, 178);
    width: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
}

.urgency {
    background-color:rgb(175, 172, 157);
    width: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
}

.deadline {
    background-color:rgb(206, 201, 178);
    width: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
}

.button {
    background-color:rgb(206, 201, 178);
    width: 100%;

}